* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1000px;
    background-color: hsla(0, 0%, 0%, 0.5);
    min-width: 50vh;
    margin: 20px auto 20px auto;
    padding: 0px 50px 0px 50px;
    border: #dcda10 2px solid;
}

.content {

    margin: 0 auto;
    color: #dcda10;

}

.image_container {
    border-radius: 50%;
    overflow: hidden;
}

.image_container,
img {
    width: 300px;
    height: 275px;

}

.top_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1 {
    font-size: 50px;
    font-weight: bold;
    color: #dcda10;
    text-transform: uppercase;
}

.top_section h4 {
    font-size: 30px;
    color: #dcda10;
    text-align: end;
}

.about {
    margin-top: 50px;
}

.about h3 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 400;
}

.about p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    color: whitesmoke;
    text-align: justify;

}

.biographies {
    margin: 50px 0px;
}

.biographies h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.biographies ul {
    margin-left: 50px;
    color: whitesmoke;
    font-size: 20px;
}

.biographies li {
    margin-bottom: 15px;
}

footer {
    margin: 50px 0px;

}

footer p {
    text-align: end;
    color: whitesmoke;
}

footer p a:active,
footer p a:hover,
footer p a:focus,
footer p a:link,
footer p a:visited {
    color: whitesmoke;
}